@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .__text-elipsis-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .__text-elipsis-two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .__text-elipsis-many-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  @variants responsive {
    .mycontainer {
      width: 95%;
      margin: 0 auto;
    }
    .mycontainer-sm {
      width: 87%;
      margin: 0 auto;
    }
    .mycontainerfull {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.shadow-card {
  -webkit-box-shadow: 0px 6px 9px 3px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 6px 9px 3px rgba(0, 0, 0, 0.21);
}

.__styled-border-y::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.__styled-border-y::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  border-radius: 50px;
  cursor: pointer;
}

.__styled-border-y::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
